page{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 25%;
    height: 100%;
    border-right: solid #ccc 1rpx;
    display: flex;
    flex-direction: column;
    background: #EBEBEA;
}
.leftList,.leftAdd{
    width: 100%;
    height: 100rpx;
    text-align: center;
    line-height: 100rpx;
    border-bottom: solid #ccc 1rpx;
    background: #F1F1F1;
}
.leftAdd{
    color: red;
    border-left: red solid 2rpx;
}
.rightList{
    flex: 1;
    display: flex;
    align-items: center;
}
.item{
    width: 100%;
    height: 120rpx;
    display: flex;
    align-items: center;
}
.leftItem{
    width: 70%;
    display: flex;
    align-items:center;
}
.leftItem Image{
    width: 25%;
    height: 100rpx;
}
.right{
    display: flex;
    flex-direction: column;
    font-size: 30rpx;
    justify-content: space-around;
}
.btn {
    height:80rpx;
    line-height: 80rpx;
    font-size: 25rpx;
}