page{
    width: 100%;
    height: 100%;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    width: 30%;
    height: 100%;
}
.rightList{
    flex: 1;
    display: flex;
}
.item{
    width: 100%;
    height: 120rpx;
    display: flex;
}
.leftItem{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.leftItem Image{
    width: 30%;
    height: 90%;
}